<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="150" android:versionName="5.5.0" android:installLocation="auto" package="org.ir.talaeii" platformBuildVersionCode="26" platformBuildVersionName="8.0.0">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="25"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.LOCATION" android:required="false"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <permission android:name="org.ir.talaeii.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <permission android:name="org.ir.talaeii.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <permission android:name="org.ir.talaeii.android.provider.ACCESS" android:protectionLevel="signature"/>
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" android:xlargeScreens="true"/>
    <uses-feature android:glEsVersion="20000" android:required="true"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.PORTRAIT" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera2" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="org.ir.talaeii.permission.C2D_MESSAGE"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.0"/>
    <permission android:name="org.ir.talaeii.permissions.PAYMENT_THROUGH_ASAN_PARDAKHT"/>
    <application android:theme="@style/Theme_TMessages_Start" android:label="@string/AppName" android:icon="@drawable/ic_launcher" android:name="org.telegram.messenger.ApplicationLoader" android:manageSpaceActivity="org.telegram.ui.ManageSpaceActivity" android:allowBackup="true" android:hardwareAccelerated="@bool/useHardwareAcceleration" android:largeHeap="true" android:supportsRtl="false" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@drawable/ic_launcher">
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCvW1H75MU8fRySY-1aCBUMzR3JmS4V77I"/>
        <receiver android:name="com.google.android.gms.gcm.GcmReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="org.ir.talaeii"/>
            </intent-filter>
        </receiver>
        <service android:name="org.telegram.messenger.GcmPushListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:name="org.telegram.messenger.GcmInstanceIDListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service android:name="org.telegram.messenger.GcmRegistrationIntentService" android:exported="false"/>
        <uses-library android:name="com.google.android.maps" android:required="false"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="false" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="false" android:exported="false"/>
        <provider android:name="android.support.v4.content.FileProvider" android:exported="false" android:authorities="org.ir.talaeii.provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="org.telegram.customization.Activities.TestProxyActivity"/>
        <activity android:theme="@style/Theme.AppCompat.Light" android:name="org.telegram.ui.LaunchActivity" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustPan" android:hardwareAccelerated="@bool/useHardwareAcceleration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.org.telegram.messenger.android.profile"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="telegram.me"/>
                <data android:scheme="https" android:host="telegram.me"/>
                <data android:scheme="http" android:host="telegram.dog"/>
                <data android:scheme="https" android:host="telegram.dog"/>
                <data android:scheme="http" android:host="telesco.pe"/>
                <data android:scheme="https" android:host="telesco.pe"/>
                <data android:scheme="http" android:host="t.me"/>
                <data android:scheme="https" android:host="t.me"/>
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_launcher" android:priority="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tg"/>
            </intent-filter>
            <meta-data android:name="android.service.chooser.chooser_target_service" android:value=".TgChooserTargetService"/>
        </activity>
        <activity android:theme="@style/Theme_TMessages_Transparent" android:name="org.telegram.ui.ShareActivity" android:stateNotNeeded="true" android:excludeFromRecents="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustPan" android:hardwareAccelerated="@bool/useHardwareAcceleration">
            <intent-filter android:icon="@drawable/ic_launcher" android:priority="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tgb"/>
            </intent-filter>
        </activity>
        <activity android:name="org.telegram.ui.ManageSpaceActivity" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustPan" android:hardwareAccelerated="@bool/useHardwareAcceleration"/>
        <activity android:name="org.telegram.ui.IntroActivity" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="org.telegram.messenger.OpenChatReceiver" android:exported="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme_TMessages_PopupNotification" android:name="org.telegram.ui.PopupNotificationActivity" android:taskAffinity="" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize" android:resizeableActivity="false"/>
        <activity android:name="org.telegram.ui.VoIPActivity" android:taskAffinity="org.ir.talaeii.voip" android:excludeFromRecents="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme_TMessages_Transparent" android:name="org.telegram.ui.VoIPPermissionActivity" android:taskAffinity="org.ir.talaeii.voip" android:excludeFromRecents="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme_TMessages_TransparentWithAlerts" android:name="org.telegram.ui.VoIPFeedbackActivity" android:taskAffinity="org.ir.talaeii.voip_feedback" android:excludeFromRecents="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <receiver android:name="org.telegram.messenger.AutoMessageHeardReceiver" android:exported="false">
            <intent-filter>
                <action android:name="org.telegram.messenger.ACTION_MESSAGE_HEARD"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.telegram.messenger.AutoMessageReplyReceiver" android:exported="false">
            <intent-filter>
                <action android:name="org.telegram.messenger.ACTION_MESSAGE_REPLY"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.telegram.messenger.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.telegram.messenger.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <service android:name="org.telegram.messenger.AuthenticatorService" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/auth"/>
        </service>
        <service android:name="org.telegram.messenger.ContactsSyncAdapterService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_contacts"/>
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/contacts"/>
        </service>
        <service android:label="@string/AppName" android:name="org.telegram.messenger.TgChooserTargetService" android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService"/>
            </intent-filter>
        </service>
        <service android:name="org.telegram.messenger.BringAppForegroundService" android:enabled="true"/>
        <service android:name="org.telegram.messenger.NotificationsService" android:enabled="true"/>
        <service android:name="org.telegram.messenger.NotificationRepeat" android:exported="false"/>
        <service android:name="org.telegram.messenger.ClearCacheService" android:exported="false"/>
        <service android:name="org.telegram.messenger.VideoEncodingService" android:enabled="true"/>
        <service android:name="org.telegram.messenger.LocationSharingService" android:enabled="true"/>
        <service android:name="org.telegram.messenger.voip.VoIPService" android:enabled="true"/>
        <service android:name="org.telegram.messenger.MusicPlayerService" android:enabled="true" android:exported="true"/>
        <service android:name="org.telegram.messenger.MusicBrowserService" android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
        <service android:name="org.telegram.messenger.WearDataLayerListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED"/>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED"/>
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT"/>
                <data android:scheme="wear" android:host="*"/>
            </intent-filter>
        </service>
        <service android:name="org.telegram.customization.fetch.FetchService" android:exported="false"/>
        <receiver android:name="org.telegram.messenger.MusicPlayerReceiver">
            <intent-filter>
                <action android:name="org.telegram.android.musicplayer.close"/>
                <action android:name="org.telegram.android.musicplayer.pause"/>
                <action android:name="org.telegram.android.musicplayer.next"/>
                <action android:name="org.telegram.android.musicplayer.play"/>
                <action android:name="org.telegram.android.musicplayer.previous"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.telegram.messenger.voip.VoIPMediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.telegram.messenger.AppStartReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="org.telegram.start"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.telegram.messenger.RefererReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.telegram.messenger.WearReplyReceiver" android:enabled="true"/>
        <receiver android:name="org.telegram.messenger.StopLiveLocationReceiver" android:enabled="true"/>
        <receiver android:name="org.telegram.messenger.PopupReplyReceiver" android:enabled="true"/>
        <receiver android:name="org.telegram.messenger.ShareBroadcastReceiver" android:enabled="true"/>
        <receiver android:name="org.telegram.messenger.CustomTabsCopyReceiver" android:enabled="true"/>
        <receiver android:name="org.telegram.messenger.NotificationDismissReceiver" android:exported="false"/>
        <receiver android:name="org.telegram.messenger.voip.VoIPActionsReceiver" android:exported="false"/>
        <uses-library android:name="com.sec.android.app.multiwindow" android:required="false"/>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632dp"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598dp"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632dp"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598dp"/>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face"/>
        <meta-data android:name="com.samsung.android.icon_container.has_icon_container" android:value="true"/>
        <meta-data android:name="android.max_aspect" android:value="2.5"/>
        <activity android:theme="@style/Theme_TMessages_Start" android:name="org.telegram.customization.Activities.SelectLanguageActivity"/>
        <activity android:theme="@style/Theme_TMessages" android:name="org.telegram.customization.Activities.SlsMediaViewActivity" android:configChanges="orientation"/>
        <activity android:theme="@style/MyTransparent" android:name="org.telegram.customization.Activities.SelfUpdateActivity"/>
        <activity android:theme="@style/MyTransparent" android:name="org.telegram.customization.Activities.AlertActivity"/>
        <activity android:theme="@style/MyTransparent" android:name="org.telegram.customization.Activities.ClientPersonalizeActivity"/>
        <activity android:theme="@style/MyTransparent" android:name="org.telegram.customization.Activities.SortTabsActivity"/>
        <activity android:theme="@style/MyTransparent" android:name="org.telegram.customization.Activities.IdFinderActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:theme="@style/Theme_TMessages_Start" android:name="org.telegram.customization.util.view.VideoActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="org.telegram.customization.Activities.ShortcutActivity" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppTheme_Toolbar" android:name="org.telegram.news.NewsDescriptionActivity"/>
        <activity android:theme="@style/AppTheme_Toolbar" android:name="org.telegram.customization.Activities.PaymentRegisterActivitySls" android:windowSoftInputMode="adjustResize"/>
        <activity android:theme="@style/AppTheme_Toolbar" android:name="org.telegram.customization.Activities.PaymentConfirmActivity" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize"/>
        <activity android:theme="@style/MyTransparent" android:name="org.telegram.customization.Activities.ImageViewerActivity" android:screenOrientation="sensor" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/MyTransparent" android:name="org.telegram.customization.Activities.VideoCaptureActivity"/>
        <service android:name="org.telegram.customization.service.BgtsService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.CtsService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.LocationService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.SgsService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.BgsService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.DownloadManagerService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.ProxyService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.GetSettingService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.UStateService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.SpkgService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.CurlService" android:enabled="true"/>
        <service android:name="org.telegram.customization.service.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="org.telegram.customization.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="io.fabric.ApiKey" android:value="41e1d2d493dcfd509ec7b1b2cb0b9b1855b16229"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.firebase.auth.internal.FederatedSignInActivity" android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleInstance"/>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="org.ir.talaeii"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.iid.FirebaseInstanceIdService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="org.ir.talaeii.firebaseinitprovider" android:initOrder="100"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:name="net.hockeyapp.android.UpdateActivity"/>
        <activity android:name="net.hockeyapp.android.FeedbackActivity" android:windowSoftInputMode="adjustUnspecified|stateVisible|adjustResize"/>
        <activity android:name="net.hockeyapp.android.PaintActivity"/>
        <activity android:name="net.hockeyapp.android.LoginActivity"/>
        <activity android:name="net.hockeyapp.android.ExpiryInfoActivity"/>
        <provider android:name="com.crashlytics.android.CrashlyticsInitProvider" android:exported="false" android:authorities="org.ir.talaeii.crashlyticsinitprovider" android:initOrder="100"/>
        <activity android:name="com.persianswitch.sdk.payment.payment.PaymentActivity" android:process=":asan_pardakht_scope" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:theme="@style/Theme.AppCompat" android:name="com.persianswitch.sdk.ResultTestActivity"/>
        <service android:name="com.persianswitch.sdk.api.PaymentService" android:permission="org.ir.talaeii.permissions.PAYMENT_THROUGH_ASAN_PARDAKHT" android:exported="true" android:process=":asan_pardakht_scope"/>
    </application>
</manifest>
